@charset "UTF-8";

.community-body__content{
	padding: 32px 0 64px;
	max-width:800px;
	display:flex;
	flex:1;
	flex-direction:column;
	margin:0 auto;
}
ul.status{
	display:flex;
	border-bottom:1px solid #dee2e6;
	list-style:none;
	margin:0;
	padding:0;
}
ul.status .active{
	position:relative;
}

.ac-button{
	position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    line-height: 1.47;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
    border: 1px solid;
    color: #fff;
}
.ac-button.is-md {
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: -.3px;
}
.ac-button.is-text {
    border: unset;
    background-color: unset;
    color: rgb(98, 98, 98);
    font-weight: 500;
}
/*****===========================================*****/

form.search {
    padding: 20px 0 38px;
}
form.search .search-item {
    display: flex;
    margin-bottom: 10px;
}
.posts-by-type form.search .search-item {
    display: flex;
    margin-bottom: 10px;
}

.ac-input-with-item {
    display: flex;
    padding: 10px 12px;
    width: 200px;
    letter-spacing: -.3px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;
}
.search-by-text {
    align-items: center;
}
 .search-by-text svg{
    margin-right: 12px;
}
form.search .search-item .ac-input-with-item {
    width: 100%;
}
.infd-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.active .ac-button {
    font-weight: 800;
    color: #1b1c1d;
}
 .active path {
    fill: rgb(0, 128, 64);
}

.ac-input-with-item>input {
    padding: 0;
    width: 100%;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    border: 0;
    background: none;
}
form.search .search-item>.ac-button {
    margin-left: 16px;
    height: 48px;
}
.ac-button.is-solid.is-primary {
    border-color: #00c471;
    font-weight: 700;
    background-color: #00c471;
}
.ac-button.is-solid {
    border: 1px solid;
    color: #fff;
}

/*=======================================*/

.question-list-container {
    margin-bottom: 40px;
}
.posts-container-header {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;
}
.order-pc {
    display: flex;
    align-items: center;
    list-style:none;
    margin:0;
    padding:0;
}
.posts-container-header__button-cover {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}
.features__new-question.ac-button.is-solid.is-gray {
    background-color: #3e4042;
}
.ac-button.is-solid.is-gray {
    border-color: #868e96;
    background-color: #868e96;
}
.features__new-question {
    color: #fff;
    margin-left: 8px;
}
.ac-button.is-solid {
    border: 1px solid;
    color: #fff;
}



/* ==================게시글 =================*/
.question-list{
	list-style:none;
}
.question {
    display: flex;
    padding: 20px 16px;
    border-bottom: 1px solid #dee2e6;
}
.question .question__info {
    flex: 1 1 590px;
    width: 0;
    max-width: 590px;
}
.question .question__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.question .title__text {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;

    line-height: 1.5;
    max-height: "3px";
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-right: 9px;
    font-size: 18px;
    font-weight: 700;
    color: #1b1c1d;
}
.question .question__body {
    margin-bottom: 12px;
    max-height: 44px;
    color: #616568;
    overflow: hidden;
    font-size: 15px;
}
.question .question__info-footer {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    min-width: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #858a8d;
}
.question .question__additional-info {
    flex: 1 1 146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    max-width: 146px;
}
.question .question__comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 66px;
    height: 66px;
    border-radius: 100px;
    border: 1px solid #dee2e6;
}
.question .comment__count {
    font-size: 18px;
    font-weight: 500;
    color: #1b1c1d;
}
.question .comment__description {
    font-size: 12px;
    font-weight: 500;
    color: #616568;
}
.question .question__like svg {
    margin-right: 4px;
}
























